.content{
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    width: 1000px;
    height: 800px;
}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px; height: 400px;
}

.item img{
    width: 180px;
    height: 130px;
    background-color: black;
}

.item h4{
    margin-top: 90px;

}

